<html>
<head>  
<title> LOGIN Form</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href='/static/login.css'/>
<style>

</style>
</head>
<body>
<img class="log">
<div class="loginbox">
<h1>Login Here</h1>

<form>
<p> Username</p>
<input type="text" name="" placeholder="Enter Username">
<p> Password</p>
<input type="password" name="" placeholder="Enter Password"><br>
<input type="submit" name="" value="Login">
<a href="#">Lost your password?</a><br>
<a href="singup">Don't have an acoount?</a>
</form>
</div>
</body>
</html>